<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>an ejs file sent from a backend server</title>
  <!-- <link rel="stylesheet" href="./style.css">
  <script src="./index.js" defer></script> -->
</head>

<body>
  <h2>Hello!!!</h2>
  <p>My name is Mark</p>
  <br>
  <button type="button">Click to send data?</button>

  <nav>
    <div class="title">
      <a href="/">
        <h1>Website?</h1>
      </a>
      <p>hello</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/mike/hello">Say Hello to Mike</a></li>
    </ul>
  </nav>

</body>

</html>