<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Ninja | <%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <script src="/static.js" async></script>
  <script src="hnm/what.js" defer></script>
</head>